title = "Inteligentny Dom"
baseurl = "/"
canonifyURLs = false
disableAliases = true
disableHugoGeneratorInject = true
# disableKinds = ["taxonomy", "term"]
enableEmoji = true
enableGitInfo = true
enableRobotsTXT = true
languageCode = "pl-PL"
paginate = 20
rssLimit = 20
summarylength = 40 # 70 (default)
removePathAccents = true # remove PL characters from URLs

# Multilingual
defaultContentLanguage = "pl"
disableLanguages = ["en", "de", "nl"]
defaultContentLanguageInSubdir = false

[build.buildStats]
  enable = false

[outputs]
  home = ["HTML", "RSS", "searchIndex"]
  section = ["HTML", "RSS", "SITEMAP"]

[outputFormats.searchIndex]
  mediaType = "application/json"
  baseName = "search-index"
  isPlainText = true
  notAlternative = true

# Add output format for section sitemap.xml
[outputFormats.SITEMAP]
  mediaType = "application/xml"
  baseName = "sitemap"
  isHTML = false
  isPlainText = true
  noUgly = true
  rel  = "sitemap"

[sitemap]
  changefreq = "monthly"
  filename = "sitemap.xml"
  priority = 0.5

[caches]
  [caches.getjson]
    dir = ":cacheDir/:project"
    maxAge = -1 # "30m"

[taxonomies]
  contributor = "contributors"
  category = "categories"
  tag = "tags"
  # defining new taxonomies

[permalinks]
  blog = "/blog/:slug/"
  docs = "/docs/:sections[1:]/:slug/"
  services = "/services/:slug/"
  tutorials = "/tutorials/:slug/"
  # docs = "/docs/1.0/:sections[1:]/:slug/"

[minify.tdewolff.html]
  keepWhitespace = false

[related]
  threshold = 80
  includeNewer = true
  toLower = false
    [[related.indices]]
      name = "categories"
      weight = 100
    [[related.indices]]
      name = "tags"
      weight = 80
    [[related.indices]]
      name = "date"
      weight = 10

[imaging]
  anchor = "Center"
  bgColor = "#ffffff"
  hint = "photo"
  quality = 85
  resampleFilter = "Lanczos"

[layouts]
  # Szablony dla pojedynczych stron
  [layouts.single]
    default = "layouts/tutorials/single.html"
    # Tutaj możesz dodać inne szablony dla określonych typów stron, jeśli jest to potrzebne

  # Szablony dla list stron
  [layouts.lists]
    default = "layouts/tutorials/list.html"
    # Tutaj możesz dodać inne szablony dla różnych typów list, jeśli jest to potrzebne

