# EditorConfig - Consistent coding styles across editors
# https://editorconfig.org

root = true

# All files
[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Markdown files - preserve double-space line breaks
[*.md]
trim_trailing_whitespace = false

# PowerShell scripts - Windows line endings
[*.ps1]
end_of_line = crlf

# Windows batch files
[*.{bat,cmd}]
end_of_line = crlf

# Makefile - tabs required
[Makefile]
indent_style = tab