{{ define "main" }}
<section class="section container-fluid mt-n3 pb-0">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="text-center">{{ .Title }}</h1>
    </div>
    <div class="col-lg-10 col-xl-9 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
    </div>
  </div>
</section>

<section class="section section-md section-features mb-4">
  <div class="row justify-content-center gx-4 gy-4 services-grid">
      {{ range .Site.RegularPages }}
        {{ if eq .Section "services" }}
        {{ if and .Params.icon .Params.color .Params.features }}
        <div class="col-xl-4 col-lg-4 col-md-6">
          <div class="card u-hover-zoom h-100">
            <a href="{{ .RelPermalink }}" class="stretched-link"></a>
            <div class="background-icon">
              <i class="bi-{{ .Params.icon }}"></i>
            </div>
            <div class="card-body">
              <i class="bi-{{ .Params.icon }} service-icon"></i>
              <h2>{{ .Title }}</h2>
              <p class="service-description">{{ .Params.description }}</p>
              {{ if .Params.features }}
              <ul class="features-list">
                {{ range .Params.features }}
                <li>
                  <i class="bi-check-circle"></i>
                  <span>{{ . }}</span>
                </li>
                {{ end }}
              </ul>
              {{ end }}
            </div>
          </div>
        </div>
        {{ end }}
        {{ end }}
      {{ end }}
    </div>
</section>

<section class="section section-md">
  <div class="row justify-content-center">
    <div class="col-lg-10 col-xl-9">
      {{ with .Content }}
      {{ . }}
      {{ end }}
    </div>
  </div>

</section>
{{ end }}
