{{ define "main" }}
<article{{ if .Draft }} class="draft-post" data-draft="true"{{ end }}>
<div class="row justify-content-center">
  <div class="col-md-12 col-lg-10">
    <div class="blog-header">
      <h1>{{ .Title }}{{ if .Draft }} <span class="badge bg-secondary ms-2">DRAFT</span>{{ end }}</h1>
      {{ partial "main/blog-meta.html" . }}
    </div>
  </div>
  {{ partial "main/entry-hero-image.html" . }}
  <div class="col-md-12 col-lg-9">
    {{ with .Params.summary -}}<p class="lead">{{ . }}</p>{{ end -}}
    {{ .Content }}
    {{ if .Params.tags -}}
    <div class="tag-list-single">
      {{ range $index, $tag := .Params.tags -}}
        <a class="btn btn-light" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}/" role="button">{{ . }}</a>
      {{ end -}}
    </div>
    {{ end -}}
  </div>
</div>
</article>
{{ end }}

{{ define "sidebar-footer" }}
  {{ partial "sidebar/related-posts.html" . }}
{{ end }}
