{{ define "main" }}
<div class="row justify-content-center">
  <div class="col-md-12 col-lg-10 col-xl-8">
    <article>
      <h1 class="text-center">{{ i18n "404_title" }}</h1>
      <p class="text-center">{{ i18n "404_text" }}</p>
      <!-- TODO maybe implement some more link here in 404 for SEO puroposes (or remove it) -->
      <!-- <img class="x figure-img img-fluid lazyload blur-up" width="256" alt="" src="/404/404.svg">
      <div class="row justify-content-center">
         <div class="col-lg-9 col-xl-8 text-center">
            <a class="btn btn-primary btn-lg px-4 mb-2" href="/blog/" role="button">Visita il nostro blog</a>
         </div>
      </div> -->
    </article>
  </div>
</div>
{{ end }}
