{{ define "main" }}

<div class="row row-about justify-content-center align-items-center">
  <div class="col-md-16 col-lg-12">
    <article>
      <h1 class="text-center">Oto co mogę dla Ciebie zrobić:</h1>
      <p class="lead text-center mb-5">Planujesz lub budujesz inteligentny dom lub mieszkanie? Oto kilka sposobów, w jakie mogę Ci pomóc:</p>

        <div class="row">
          <div class="col-8">
            <div class="card px-4">
              <h2>Konsultacje i&nbsp;doradztwo</h2>
              <p>Profesjonalne konsultacje i doradztwo w zakresie tworzenia inteligentnych przestrzeni, opierając się na formule rozliczania godzinowego. Pomogę Ci wybrać najlepsze rozwiązania dostosowane do Twoich potrzeb i budżetu.</p>
              <br/>
            </div>
          </div>
          <div class="col-8">
            <div class="card px-4">
              <h2>Kompleksowy projekt inteligentnej przestrzeni</h2>
              <p>Tworzę inteligentne systemy dla przestrzeni mieszkalnych i komercyjnych. Zapewniam wsparcie na każdym etapie - od koncepcji po realizację, gwarantując, że finalny projekt będzie innowacyjny, funkcjonalny i łatwy w obsłudze.</p>
              <br/>
            </div>
          </div>
        </div>
        <br/><br/>
        <div class="row">
          <div class="col-8">
            <div class="card px-4">
              <h2>Konfiguracja urządzeń i&nbsp;oprogramowania</h2>
              <p>Specjalizuję się w konfiguracji zaawansowanych systemów smart home oraz IoT. Zapewniam pełną integrację urządzeń i oprogramowania, co pozwala na bezproblemową i intuicyjną kontrolę nad Twoją inteligentną przestrzenią.</p>
              <br/>
            </div>
          </div>
          <div class="col-8">
            <div class="card px-4">
              <h2>Szycie na&nbsp;wymiar</h2>
              <p>Opracowuję spersonalizowane rozwiązania smart home i IoT, które są dokładnie dostosowane do indywidualnych potrzeb i wymagań. Niezależnie od tego, czy potrzebujesz zaawansowanego systemu oświetlenia, inteligentnego ogrzewania, czy zintegrowanego systemu bezpieczeństwa, możesz liczyć na rozwiązania szyte na miarę.</p>
              <br/>
            </div>
          </div>
        </div>

        <br>
        <br>

        <h1 class="text-center mt-5">Zainteresowany? Skontaktuj się!</h1>
        <p class="lead text-center mb-5">Napisz lub zadzwoń, aby porozmawiać o tym, co mogę dla Ciebie zrobić. Razem znajdziemy najlepsze rozwiązania, które uczynią Twoje życie łatwiejszym, bezpieczniejszym i bardziej komfortowym.</p>
        <h1 class="text-center mt-5"><a href="mailto:zentala@gmail.com">zentala@gmail.com</a> &nbsp; · &nbsp; +48 517 178 984</h1>


    </article>
  </div>
  {{/*  <div class="col-md-16 col-lg-7 text-center">
    [image]
  </div>  */}}
</div>


{{ end }}
